{{ 'jewelry-banner.css' | asset_url | stylesheet_tag }}
<!-- Banner Section -->
<div class="banner-wrapper">
  <div class="banner-inner-wrapper">
    <div class="banner-track">
      <span class="banner-text">29k+ 5-Star Reviews</span>
      <span class="banner-text">.</span>
      <span class="banner-text">1.9 Mil Followers On Social</span>
      <span class="banner-text">.</span>
      <span class="banner-text">Gia & Igi Certified Gems</span>
      <span class="banner-text">.</span>
      <span class="banner-text">Creating Magic Since 2016</span>

      <!-- duplicate to make loop seamless -->
      <span class="banner-text">29k+ 5-Star Reviews</span>
      <span class="banner-text">.</span>
      <span class="banner-text">1.9 Mil Followers On Social</span>
      <span class="banner-text">.</span>
      <span class="banner-text">Gia & Igi Certified Gems</span>
      <span class="banner-text">.</span>
      <span class="banner-text">Creating Magic Since 2016</span>

      <span class="banner-text">29k+ 5-Star Reviews</span>
      <span class="banner-text">.</span>
      <span class="banner-text">1.9 Mil Followers On Social</span>
      <span class="banner-text">.</span>
      <span class="banner-text">Gia & Igi Certified Gems</span>
      <span class="banner-text">.</span>
      <span class="banner-text">Creating Magic Since 2016</span>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Jewelry Banner Section",
  "tag": "section",
  "class": "section",
  "settings": [],
    "presets": [
        {
        "name": "Jewelry Banner Section",
        "category": "Jewelry-Banner"
        }
    ]
}
{% endschema %}
